<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{if .Edit}}
<h1>Edit</h1>
{{else}}
<h1>{{.PageTitle}}</h1>
{{end}}
<div>
    {{if .Edit}}
    <div class="todo-add">
        <form method="post" action="/edit?id={{.ID}}">
            <input name="title" value="{{.Title}}"/>
        </form>
    </div>
    {{else}}
    <div class="todo-add">
        <form method="post" action="/add">
            <input name="title" />
        </form>
    </div>
    {{end}}
    {{range .Todos}}
    <div class="todo">
        <div class="todo-left">
            {{if .IsDone}}
            <li class="done">{{.Title}}</li>
            {{else}}
            <li>{{.Title}}</li>
            {{end}}
            <span>{{.Created}}</span>
        </div>
        <div class="todo-right">

            <form action="/delete?id={{.ID}}" method="post">
                <input type="submit" value="Delete" />
            </form>
            <a href="/edit?id={{.ID}}">
                <button>Edit</button>
            </a>
        </div>
    </div>
    {{end}}
</div>
</body>
</html>